@{
    ViewBag.Title = "P.T.S-Admin|修改密碼";
    ViewBag.CurrentPage = "修改密碼";
    ViewBag.Catalog = "申請人相關資料";
}
@section style {
    @Styles.Render("~/Scripts/plugins/Sweetalert/sweetalert2.min.css")
}

@section js {
    @Scripts.Render("~/Scripts/plugins/Sweetalert/sweetalert2.all.min.js")

    @Scripts.Render("~/Scripts/UserDefined/ApplicationInfo_ReSetPassword.js")
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">修改登入密碼</h4>
                    <div class="repeater-default m-t-30">
                        <div data-repeater-list="">
                            <div data-repeater-item="">
                                   <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="OldPassword">原密碼</label>
                                        <input type="password" class="form-control" id="OldPassword" placeholder="Old Password">
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="NewPassword">新密碼</label>
                                        <input type="password" class="form-control" id="NewPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="ConfirmPassword">確認新密碼</label>
                                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class="btn btn-success waves-effect waves-light" id="btnSubmit" type="submit">
                                        Submit
                                    </button>                                  
                                </div>                               
                               
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
