<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlRenderer.Core" version="1.5.0.6" targetFramework="net45" />
  <package id="HtmlRenderer.WinForms" version="1.5.0.6" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net48" />
</packages>