<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LawtechPTSystemByFirm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LawtechPTSystemByFirm.Properties.Settings.DataBaseConnectionString"
            connectionString="Data Source=jcase.net,2561;Initial Catalog=DemoLawOfficeDB;Persist Security Info=True;User ID=sa;Password=A1s2d3f4g5;Application Name=LawtechPTSystemByFirm"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <LawtechPTSystemByFirm.Properties.Settings>
            <setting name="WorkerKEY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorkerName" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCountry" serializeAs="String">
                <value />
            </setting>
            <setting name="MAC" serializeAs="String">
                <value />
            </setting>
            <setting name="Authority" serializeAs="String">
                <value />
            </setting>
            <setting name="CPU" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorityCode" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="HostName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAccount" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailNickname" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTimeOut" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="OfficeRole" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="IsEnableFTP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlineTime" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFileServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileServerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileServerLocalhostPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OfficeRoleName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLoadData" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadDataRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SystemName" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableAddFee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAddPayment" serializeAs="String">
                <value>False</value>
            </setting>
        </LawtechPTSystemByFirm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
